/* COMMON */
.small-wrapper{
    max-width: 900px;
    margin: auto;
}

.box-centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    max-width: 100%;
}
/* END COMMON */

/* HEADER */
/* Nav */
header .top-nav{
    padding: 20px;
}
header nav{
    text-align: right;
}
header nav .burger-menu{
    font-size: 25px;
}

.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding-left: 10px;
}
.menu li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 23px;
}

.menu.lang li:not(:last-child){
    border-right: 1px solid black;
    padding-right: 10px;
}

/* Jumbotron */
.jumbotron{
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    height: 400px;
    color: #fff;
    text-align: center;
    position: relative;
}

.jumbotron .teaser{
    width: 70%;
}
.jumbotron .teaser h1{
    font-size: 50px;
}
.jumbotron .teaser > p{
    font-size: 20px;
    padding: 20px 0;
}
/* END HEADER */

/* MAIN */
/* Section Products */
#products{
    padding: 30px 0;
}
#products .inner-col{
    padding: 20px;
}
#products .inner-content{
    text-align: center;
    background-color: #fafafa;
}

#products .inner-content h3{
    font-size: 30px;
    padding-top: 40px;
}
#products .inner-content p{
    font-size: 20px;
    padding: 20px 0;
}
#products .inner-content a{
    font-size: 14px;
    text-decoration: none;
}
/* END MAIN */


